filelock==3.18.0
fsspec==2025.3.2
glcontext==3.0.0
Jinja2==3.1.6
MarkupSafe==3.0.2
moderngl==5.12.0
moderngl-window==3.1.1
mpmath==1.3.0
multipledispatch==1.0.0
networkx
numpy
opencv-python==4.11.0.86
pillow==11.1.0
pyglet==2.1.3
pyglm==2.8.1
pyrr==0.10.3
PyWavefront==1.3.3
setuptools==78.1.0
sympy==1.13.1
torch==2.6.0
torchvision==0.21.0
typing_extensions==4.13.1
mediapipe
